<div class="booking" data-booking-id="<%= booking.id %>">
  <div class="hotel-info">
    <span class="hotel-name"><%= booking.hotel_name %></span>
    <span class="room-type"></span>
  </div>
  <div class="dates">
    <span class="check-in"><%= booking.check_in %></span>
    <span> - </span>
    <span class="check-out"><%= booking.check_out %></span>
  </div>
  <p class="description">
    <%= booking.description %>
  </p>
</div>
