<div>
  <h1>Bookings</h1>
  <%= link_to 'New Booking', new_booking_path, class: 'btn btn-default' %>

  <% if @bookings.empty? %>
    <h1>You currently have no bookings.</h1>
  <% else %>
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#calendar" aria-controls="calendar" role="tab" data-toggle="tab">Calendar</a></li>
        <li role="presentation"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="calendar">
          <%= month_calendar(attribute: :check_in, end_attribute: :check_out, events: @bookings) do |date,bookings| %>
            <span class="calendar-day"><%= date.day %></span>

            <% bookings.each do |booking| %>
            <div class="booking">
              <%= booking.hotel_name %>
            </div>
            <% end %>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane bookings-list" id="list">
          <%= render @bookings %>
        </div>
      </div>
    </div>
  <% end %>
</div>
